{% extends 'databases/home.html' %}
{% load static %}

{% block content %}
<div class="container-fluid bg-white" style="padding-top: 85px;">
    <div class="row about-row d-flex justify-content-center align-content-center text-white">
    <span style="font-size:80px;"><b>OUR COMPANY</b></span>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center pt-4 pl-4 pr-4 ">
            <span class="current" style="font-size:30px;align-items:start">Who Are We?</span>
        </div>
        <div class="col-12 d-flex justify-content-center">
         <span style="text-align:center; padding:15px 200px;font-size:20px;">
         We’re a fintech company building a financial platform and infrastructure to bring joy and ease on
                                money issues to people around the world.<br> 
        A hero is someone who does something other people couldn’t do, don’t want to do, or don’t think
            could possibly be done. <br>It takes boldness, belief and brilliance to be a hero. As a company,
           that's exactly who we are on money issues. ‘Dinero’ [dee-ne-ro] is the Spanish word for money
                and combined with ‘Hero’ [hee-ro], you have our name - DineroHero.

        </span>
        </div>
        <div class="col-12 d-flex justify-content-center pt-4 pl-4 pr-4 ">
            <span class="current" style="font-size:30px;align-items:start">Our Mission</span>
        </div>
        <div class="col-12 d-flex justify-content-center">
         <span style="text-align:center;padding:15px 200px;font-size:20px;"> 
            Our primary goal is to bring joy and ease on money issues to people globally.<br><br> 
        Our second aim is to help people understand climate change and personally contribute to 
                        greener globe through better money <br>decisions.
         </span>
        </div>
        <div class="col-12 d-flex justify-content-center pt-4 pl-4 pr-4 pb-1" style="background-color:#F2F2F2">
            <span class="current" style="font-size:30px;align-items:start" > Our Values</span>
        </div>
        <div class="col-12 d-flex justify-content-center round2 pb-5 pt-2" style="background-color:#F2F2F2;">
            <div class="tile" id="tile-1">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <div class="slider"></div>
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> Customer Focus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"> Excellence</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"> Sustainablility</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="setting-tab" data-toggle="tab" href="#setting" role="tab" aria-controls="setting" aria-selected="false"> Speed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="setting-tab2" data-toggle="tab" href="#setting2" role="tab" aria-controls="setting2" aria-selected="false"> Transparency</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="setting-tab3" data-toggle="tab" href="#setting3" role="tab" aria-controls="setting3" aria-selected="false"> Togetherness</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade show active mb-5 pb-5 mt-3" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="d-flex justify-content-center row">
                            <div class="col-10 bg-white border3 mb-4 rounded-border2" style="margin-bottom:20px">
                                <span class="green d-flex col-12 justify-content-center mt-2 mb-1" style="font-size:20px">Be customer obsessed</span>
                                <span class="col-12  d-flex justify-content-center mb-5 pt-1" style="font-size:20px;text-align:center;">We exist because we're building products used by people. Those people generally have their <br> 
                                      expectations. We strive to create delightful products and customer experiences that exceed <br>
                                                        expectations in innovative ways.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade mb-5 pb-5 mt-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="d-flex justify-content-center row">
                            <div class="col-11 bg-white border3 mb-4 rounded-border2" style="margin-bottom:20px">
                                <span class="green d-flex col-12 justify-content-center mt-2 mb-1" style="font-size:20px">Be brilliant</span>
                                <span class="col-12  d-flex justify-content-center mb-5 pt-1" style="font-size:20px;text-align:center;">
                                Whether in our people or products, we deeply value excellence. This means consistently working <br> 
                                to be the best possible version of ourselves and creating the best versions of our products. It's a  <br>
                                    journey of growth we are committed to because excellent people build excellent products that <br>
                                                    delight users. 
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade mb-5 pb-5 mt-3" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="d-flex justify-content-center row">
                            <div class="col-11 bg-white border3 mb-4 rounded-border2" style="margin-bottom:20px">
                                <span class="green d-flex col-12 justify-content-center mt-2 mb-1" style="font-size:20px">Think long term</span>
                                <span class="col-12  d-flex justify-content-center mb-5 pt-1" style="font-size:20px;text-align:center;">
                                We're building for decades to come; not just this decade. This has a powerful implication: We <br> 
                                carefully think about how we design and build things with special attention to expected long-term <br>
                                    changes and results we can create over years to come (typically one decade at a time).
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade mb-5 pb-5 mt-3" id="setting" role="tabpanel" aria-labelledby="setting-tab">
                        <div class="d-flex justify-content-center row">
                            <div class="col-10 bg-white border3 mb-4 rounded-border2" style="margin-bottom:20px">
                                <span class="green d-flex col-12 justify-content-center mt-2 mb-1" style="font-size:20px">Be fast</span>
                                <span class="col-12  d-flex justify-content-center mb-5 pt-1" style="font-size:20px;text-align:center;">
                                We exist to actively create positive change, and not to passively watch it happen. Customer <br> 
                                expectations are high and the world keeps changing; we must stay ahead. This necessitates a <br>
                                    need for appreciable speed in how we develop our products and attend to our customers.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade mb-5 pb-5 mt-3" id="setting2" role="tabpanel" aria-labelledby="setting-tab2">
                        <div class="d-flex justify-content-center row">
                            <div class="col-11 bg-white border3 mb-4 rounded-border2" style="margin-bottom:20px">
                                <span class="green d-flex col-12 justify-content-center mt-2 mb-1" style="font-size:20px">Be clear</span>
                                <span class="col-12  d-flex justify-content-center mb-5 pt-1" style="font-size:20px;text-align:center;">
                                We love to be clear about what we do and how we do things. Our company was founded in large <br> 
                                part due to frustration about lack of transparency in consumer finance. Therefore, we're <br>
                                    committed to creating transparent financial services and workplace culture.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade mb-5 pb-5 mt-3" id="setting3" role="tabpanel" aria-labelledby="setting-tab3">
                        <div class="d-flex justify-content-center row">
                            <div class="col-11 bg-white border3 mb-4 rounded-border2" style="margin-bottom:20px">
                                <span class="green d-flex col-12 justify-content-center mt-2 mb-1" style="font-size:20px">Be united</span>
                                <span class="col-12  d-flex justify-content-center mb-5 pt-1" style="font-size:20px;text-align:center;">
                                Not only are we building for a diverse global community, we also internally reflect that diversity. <br> 
                                To operate in cohesion, we strive and thrive together with a genuine feeling of team spirit  <br>
                                    (camaraderie) enabling every team member a.k.a 'Serving Hero' succeed in their roles at work.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 d-flex justify-content-center pt-4 pl-4 pr-4 pb-1 bg-white" >
            <span class="current" style="font-size:30px;align-items:start" > Our Story</span>
        </div>
        <div class="col-12 d-flex justify-content-center">
         <span style="text-align:center; padding:15px 200px;font-size:20px;">
                    DineroHero was born from a series of experiences that motivated our founder to solve his 
                problems  <br>and those his close family members had encountered with sending or receiving money.  <br><br>
                    It all started with a very painful money transfer experience. Sometime in August 2020 our  
                        founder,<br> Dominic, tried helping his younger sister make an international money transfer to 
                        Vietnam (a payment to<br> her hair extension supplier). He got the recipient's bank details and had 
                        to make the payment via SWIFT<br> transfer at a local bank. He chose to start with a test of 200
                        USD just to see how it goes before making<br> other bigger transfers. <br><br><br>
                        To put it mildly, the experience was a nightmare for at least the following reasons:
                </span>
        </div>
        <div class="col-12 d-flex justify-content-center round2 pb-0 pt-2 bg-white" style="background-color:#F2F2F2;min-height: 201px;" >
            <div class="tile" id="tile-1 mb-2">

                <!-- Nav tabs -->
                <ul class="nav nav-justified justify-content-center " role="tablist">
                    <li class="step ml-5 mr-5 step-active">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#s1" role="tab" aria-controls="s1" aria-selected="true">1</a>
                    </li>
                    <li class="step ml-5 mr-5">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#s2" role="tab" aria-controls="s2" aria-selected="false">2</a>
                    </li>
                    <li class="step ml-5 mr-5">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#s3" role="tab" aria-controls="s3" aria-selected="false">3</a>
                    </li>
                    <li class="step ml-5 mr-5">
                        <a class="nav-link" id="setting-tab" data-toggle="tab" href="#s4" role="tab" aria-controls="s4" aria-selected="false">4</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade show active mb-1 pb-1 mt-3" id="s1" role="tabpanel" aria-labelledby="home-tab">
                        <div class="d-flex justify-content-center row">
                            <div class="col-10 bg-white border3 mb-1 rounded-border2 d-flex align-items-center" style="margin-bottom:20px;min-height:210px;min-width:842px">
                                <span class="col-12  d-flex justify-content-center  pt-3" style="font-size:20px;text-align:center;">
                                Neither he nor the recipient could track where the money was after the transfer. The sending  <br> 
                                            bank couldn't provide any information on this. 
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade mb-1 pb-1 mt-3" id="s2" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="d-flex justify-content-center row">
                            <div class="col-10 bg-white border3 mb-1 rounded-border2 d-flex align-items-center" style="margin-bottom:20px;min-height:210px;min-width:842px">
                                <span class="col-12  d-flex justify-content-center pt-3" style="font-size:20px;text-align:center;">
                                There was the inconvenience of being regularly asked about the status of the transfer and not <br> 
                                having answers other than frequenting the bank at least 3 times in about a week with no positive  <br>
                                    outcome.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade mb-1 pb-1 mt-3" id="s3" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="d-flex justify-content-center row">
                            <div class="col-10 bg-white border3 mb-1 rounded-border2 d-flex align-items-center" style="margin-bottom:20px;min-height:210px;min-width:842px">
                                <span class="col-12  d-flex justify-content-center pt-3" style="font-size:20px;text-align:center;">
                                It was only after a little more than a week that the sending bank informed Dominic that the<br> 
                                    money was to be sent back due to some incorrect recipient details.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade mb-1 pb-1 mt-3" id="s4" role="tabpanel" aria-labelledby="setting-tab">
                        <div class="d-flex justify-content-center row">
                            <div class="col-10 bg-white border3 mb-1 rounded-border2" style="margin-bottom:20px;min-height:210px;min-width:842px">
                                <span class="col-12  d-flex justify-content-center pt-3" style="font-size:20px;text-align:center;">
                                He was given the option to pay another 25 USD (or 1% whichever was higher) in transfer fee to<br> 
                                make a second attempt to transfer the money. But worst of all, when the money sent back finally <br>
                                 arrived in his account it was only about 150 USD. Why? According to the sending bank, the <br>
                                 intermediary bank deducted their fees! So why wasn't he told about such from the start? All said, <br>
                                 if he had decided to make a second attempt, the whole transaction of sending 200 USD would <br>
                                 have cost him 100 USD (25 USD first transfer fee + 25 USD second transfer fee + 50 USD top-up <br>
                                 to the returned 150 USD).
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <span style="text-align:center; padding:15px 200px;font-size:20px;">
                    To think this was just for 200 USD…what would have happened if a much larger amount was  <br> 
                involved? Of course, he refused to do the second transfer. But it was right after going through this <br>
                    painful experience that Dominic started looking for better ways to solve this. In a short while, that  <br>
                        led to the birth of DineroHero!  <br>  <br>
                        Despite that awful instance, there were pleasant situations when he’d help his sisters make <br>
                        payments in US dollars to other countries or online and then they would pay in the local <br>
                        currency equivalent (at an agreed and consistently discounted exchange rate that he calls 'hero  <br>
                        rate') into any account he specified (typically his Mum's or younger siblings'). <br><br>
                        After a careful examination of such situations described above and how he's personally <br>
                        experienced subpar customer service in consumer finance for years, or quickly sent phone <br>
                        airtime and money to his family via cryptocurrencies with minimal fees, he decided that instead <br>
                        of being a sole hero on those money issues, he would build a platform to enable and connect <br>
                        more money heroes while tackling other painful money issues people faced. Hence, the mission<br>
                        became crystal clear -  to bring joy and ease on money issues to people globally!
            </span>
        </div>
        <div class="col-12 d-flex justify-content-center mb-4 pt-4 pl-4 pr-4 pb-1 bg-white" style="background-color:#F2F2F2">
            <span class="current" style="font-size:30px;align-items:start" > Our Team</span>
        </div>
        </div>
        <div class="row pb-5 justify-content-center d-flex">
            <div class="col-3">
                <div class="justify-content-center d-flex">
                    <img src="{% static 'images/dominic.png' %}" class="img-dimensions">
                </div>
                <p class="green justify-content-center d-flex mb-0" style="font-size:20px;">Dominic</p>
                <p class="justify-content-center d-flex" style="font-size:15px;">Founder & CEO</p>
            </div>
        </div>
        <div class="row pb-5 justify-content-center d-flex">
            <div class="col-3">
                <div class="justify-content-center d-flex">
                    <img src="{% static 'images/alyona.png' %}" class="img-dimensions">
                </div>
                <p class="green justify-content-center d-flex mb-0" style="font-size:20px;">Alyona</p>
                <p class="justify-content-center d-flex" style="font-size:15px;">Sales and Marketing</p>
            </div>
            <div class="col-3">
                <div class="justify-content-center d-flex">
                    <img src="{% static 'images/hassan.png' %}" class="img-dimensions">
                </div>
                <p class="green justify-content-center d-flex mb-0" style="font-size:20px;">Hassan</p>
                <p class="justify-content-center d-flex" style="font-size:15px;">Software Engineering</p>
            </div>
            <div class="col-3">
                <div class="justify-content-center d-flex">
                    <img src="{% static 'images/ifrah.png' %}" class="img-dimensions">
                </div>
                <p class="green justify-content-center d-flex mb-0" style="font-size:20px;">Ifrah</p>
                <p class="justify-content-center d-flex" style="font-size:15px;">Art and Design</p>
            </div>
        </div>
        </div>

    </div>
</div>
{% endblock %}