{% load static %}
<nav class="container bg-white" >
  <div class="row p-2">
    <div class="col-4 d-flex justify-content-end" style="align-items:center;">
      <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"></a>
    </div>
    <div class="col-8 d-flex justify-content-center" >
      <div class="topnav d-flex" id="myTopnav" style="align-items:center">
        <a href="#feature" id="sec-1">Features</a>
        <a href="#cases" id="sec-2">Use Cases</a>
        <a href="#plans" id="sec-3">Plans</a>
        <a href="#faq" id="sec-4">FAQs</a>
        <a href="#about" id="sec-5"  href="{% url 'about' %}">About</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
        <button class="color-green btn rounded-border mt-3" data-toggle="modal" data-target="#exampleModal" ><a href="#join" class="text-white mt-0 pt-0 pb-0">Join now</a></button>
      </div>
    </div>
  </div>
</nav>
